.shining-navbar {
  position: relative;
  overflow: hidden;
}

.shining-navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 100px;
  height: 100%;
  background: rgba(237, 237, 237, 0.2);
  transform: skewX(-25deg);
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    left: 100%;
  }
  50% {
    left: 150%;
  }
  100% {
    left: -100%;
  }
}
.navbar {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

 .nav-link {
  color: #fff !important;
  transition: color 0.3s ease-in-out;
}
.navbar-brand {
  color: #fff !important;
  transition: color 0.3s ease-in-out;
}
.nav-link:hover {
  color: #00ff00 !important;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}





